antlr
antlr-4.9.2-complete.jar
antlr.tmp
/compiler/*.c
/compiler/*.s
/compiler/a.out
/compiler/ifcc
/compiler/runmake_ubuntu.sh
/compiler/*.o
/compiler/build
/compiler/generated
/compiler/.antlr
/tests/ifcc-test-output
.vscode